{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 80px;">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card mb-3 w-100">
                <div class="card-body">
                    {{ render_form(form) }}
                    <hr>
                    <p class="small"><a href="{{ url_for('auth.register') }}">Register new account</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
